---
import { sanityClient } from "sanity:client";
import { marked } from "marked";
import imageUrlBuilder from "@sanity/image-url";
import { fetchPost, fetchPosts } from "../../adapters/post";
import GlobalLayout from "@/layouts/GlobalLayout";

export const getStaticPaths = async () => {
  const results = await fetchPosts();

  const paths = results.map((result: any) => ({
    params: { slug: result.slug.current },
  }));

  return paths;
};

const { slug } = Astro.params;

const post = await fetchPost({ slug });

if (!post) {
  return {
    status: 404,
  };
}

const body = marked.parse(post.body);

const builder = imageUrlBuilder(sanityClient);
---

<GlobalLayout>
  <h1>A post about {post.title}</h1>
  <p>created at {post._createdAt}</p>
  <img
    src={builder.image(post.mainImage!).width(200).url()}
    alt={post.mainImage!.alt}
  />
  <article set:html={body} />
</GlobalLayout>
